<% if(useLayout) { %>
  <%- include('partials/pageTop') %>
<% } %>

<main id="page-container" class="fade-in">
  <%- post %>
</main>

<% if(useLayout) { %>
  <%- include('partials/pageBottom') %>
<% } %>