<% if(useLayout) { %>
  <%- include('partials/pageTop') %>
<% } %>

<main id="page-container" class="fade-in">
  <h1>Contact</h1>
</main>

<% if(useLayout) { %>
  <%- include('partials/pageBottom') %>
<% } %>