@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fade-in {
  animation: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

img {
  width: 100%;
}

main#page-container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

main#page-container h1 {
  text-align: center;
}